html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #1a1a1a;
    font-family: 'Nanum Gothic', sans-serif;
    overflow-y: hidden;
}
div,select,input{
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mainPage{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
    background-color: #f3f3f4;
}
.left{
    width: 500px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}
.title{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleText{
    font-size: 28px;
    font-weight: bold;
}
.help{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #20a541;
}
.ongoingCase{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 50px;
}
.explanation{
    width: 100%;
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.checkWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border-bottom: 1px solid #dddddd;
}
.checkRow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.customChk{
    width: 50px;
    height: 50px;
    border: 1px solid #dddddd;
    margin-right: 15px;
    cursor: pointer;
}
.chkinside{
    width: 40px;
    height: 40px;
    background-color: #20a541;
}
.customChkLabel{
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.buttonWrap{
    width: 100%;
    margin-top: 50px;
}
.buttonWrap > button{
    width: 100%;
    height: 70px;
    background-color: #20a541;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.doButtonWrap{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.doButtonWrap > button{
    width: 160px;
    height: 50px;
    background-color: #20a541;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.redPoint{
    color: #f00;
    font-weight: bold;
}
.boldPoint{
    font-weight: bold;
}
.customChk.chkChecked{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #20a541;
}
.customChkLabel.chkChecked{
    color: #20a541;
}
.right{
    width: calc(100% - 500px);
    height: 100%;
}
.imageWrap{
    width: 100%;
    height: 100%;
    position: relative;
}
.isDrawing{
    display: none;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    z-index: 998;

}
#imageCanvas{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transform: scale(.84);
    margin-top: -75px;
    margin-left: 150px;
}
#svgArea{
    position: absolute;
    top: -75px;
    left: 150px;
    z-index: 998;
    transform: scale(.84);
}
.hoverNotice{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 650px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.hoverNoticeTitle{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    color: #20a541;
}
.hoverNoticeText{
    font-size: 18px;
    padding-top: 20px;
    word-break:break-all;
    line-height: 30px;
}
.help:hover .hoverNotice{
    display: block;
}
.infoPage{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #f3f3f4;
    justify-content: center;
    align-items: center;
}
.formWrap{
    width: 500px;
    height: 850px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
}
.infoTitleText{
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}
.infoSubTitleText{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.formRow{
    width: 100%;
    margin-bottom: 20px;
}
.formTitle{
    font-weight: bold;
    margin-bottom: 15px;
}
.infoSubTitleText.lastTitle{
    padding-top: 20px;
}
.formRow > input, .formInput > input, .select{
    height: 25px;
    border: none;
    border-bottom: 1px solid #dddddd;
}
.formcheck{
    width: 100%;
    display: flex;
}
.formcheck > div{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.year, .month{
    width: 50px;
}
.residentCheck, .specialistCheck{
    width: 70px !important;
}
.resiCheck{
    margin-bottom: 20px;
}
.yearWrap1{
    margin-bottom: 20px;
    display: none;
}
.yearWrap2{
    margin-bottom: 20px;
    display: none;
}
input:focus, select:focus{
    outline:none;
    border-bottom: 2px solid #20a541;
}
.formcheckChecked{
    background-color: #20a541;
    color: #fff;
    border: none;
}
.noticeWrap{
    width: 810px;
    height: 720px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
}
.noticeTitle{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;
}
.noticeText{
    font-size: 25px;
    padding-top: 20px;
    word-break: break-all;
    line-height: 45px;
}
.startBtnWrap{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 40px;
}
.startBtnWrap > button{
    width: 200px;
    border: none;
    background-color: #20a541;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
}
.endPage{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #f3f3f4;
    justify-content: center;
    align-items: center;
}
.textWrap{
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 50px;
}
input:focus, select:focus{
    outline:none;
    border-bottom: 1px solid #20a541;
}
input:hover, select:hover{
    border-bottom: 1px solid #20a541;
}
.formcheck > div:hover{
    border: 1px solid #20a541;
}
.gonText{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

@media (max-width: 1024px) {
    .formWrap{
        min-width: 500px;
        height: 850px;
    }
}
